/* =============
    Base
============= */

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.resize-logo{
    width: 100px;
}

.large-images{
    width: 100%;
}

.show-extra-large {
    display: none;

    @include xxl{
        display: block;
    }
}

