/* =============
    section4
============= */

#section4{
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". section4 .";
    }

    @include xxl{
        grid-template-columns:  auto 1200px auto;
    }
    >div{
        @include md{
            grid-area: section4;
        }

        ul{
            @include md{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                "n1 n1 n2 n2"
                "n3 n3 n4 n4"
                ".. n5 n5 ..";
                gap:16px;
            }

            @include lg{
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                "n1 n1 n2 n2 n3 n3"
                ". n4 n4 n5 n5 .";
            }

            li{
                img{
                    width: 100%;
                }
                section{
                    background: #F6F6F6;
                        display: grid;
                        grid-template-columns: 16px auto 16px;
                        grid-template-areas: ". section4-content .";
                    >div{
                        
                        grid-area: section4-content;
    
                    }  
                }
            }
    
            #n1{
                @include md{
                    grid-area: n1;
                }
            }
    
            #n2{
                @include md{
                    grid-area: n2;
                }
            }
    
            #n3{
                @include md{
                    grid-area: n3;
                }
            }
    
            #n4{
                @include md{
                    grid-area: n4;
                }
            }
    
            #n5{
                @include md{
                    grid-area: n5;
                }
            }
        }
    }
}