#sections {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". sections .";

    >div{
        grid-area: sections;
        background-color: red;
        display: grid;
        grid-template-columns: 70% auto;
    }
}
