/* =============
    section3
============= */

#section3{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". section3 .";

    div{
        grid-area: section3;
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }
        @include lg{
            grid-template-columns: 50% auto;
        }
        
        .section3-content{
            padding: 16px;

            >div{
                display: flex;

                aside{
                    margin-left: auto;
                }
            }
        }

        #section3-left{
            background-color: brown;
            padding: 16px;
            // @include xxl{
            //     grid-template-columns: 20% auto 16px;
            // }
        }
        #section3-right{
            background-color: sandybrown;
            padding: 16px;
            // @include xxl{
            //     grid-template-columns: 16px auto 20%;
            // }

        }
    }
}