/* =============
    Section2
============= */

#section2{
    aside{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". section2-aside .";
    background-color: red;
    >div{
         grid-area: section2-aside;
         
        }
    }
}