/* =============
    section4
============= */

#section4
    
    ul {
        li{
            img{
width: 100%;
            }
            section{

                >div{
                    grid-area: section4;
                    background-color: red;

                }
            }
        }
    }
    
