/* =============
    Section2
============= */

#section2{

    
    section{
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }

        @include lg{
            grid-template-columns: 50% auto;
        }

        aside{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". section2-aside .";
            >div{
                grid-area: section2-aside;
                 }
           }
        
           #section2-left{
                background: fuchsia; 
                @include xxl{
                    grid-template-columns: 20% auto 16px;
                }
           }

           #section2-right{
                background: purple; 
                @include xxl{
                    grid-template-columns: 16 px auto 20%;
                }
           }
    }

}
